img{
    /* height: 170px; */
    width: 100%;
}
nav.row{
    background-color: lightblue;
   

}
.row.jumbo{
    background-color: lightcoral;
}
.row.about{
    background-color: lightslategray;
}
.row.about .btn.btn-primary{
    width: auto;
}
._portfolio{
    background-color: lightseagreen;
    /* width: 100%; */
    /* margin: 0 auto; */
}
._red{
    background-color: red;
    border: 1px solid;
    width: 100%;
    height: 150px;
}

.menu_m{
    display: none;
}
ul.menu_m li{
    display: inline-block;
    
}
@media (min-width:768px) {
    .menu_s{
        display: none;
    }
    .menu_m{
        display: block;
    }
    ._portfolio{
        /* background-color: lightseagreen; */
        width: 80%;
        margin: 0 auto;
    }
}

/* DEBUG */

.debug nav.row{
    border: 1px solid;
    height: 70px;
}

.debug .row.jumbo .col{
    height: 500px;
}
