.btn_green{
    background-color: #1abc9c;
}
img{
    /* height: 170px; */
    width: 100%;
}
nav.row{
    background-color: #2c3e50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
}
.row.jumbo{
    background-color: #1abc9c;
    margin-top: 70px;
}
.img_container{
    height: 15rem;
}
#avatar{
    height: 100%;
}
._linea{
    border: 1.5px solid;
    height: 0;
}

._star{
    max-width: 500px;
    margin: 0 auto;
    min-width: 200px;
}
.layover{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}
.effetto_hover:hover .layover{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row.about{
    background-color: #1abc9c;
}
.row.about .btn.btn-primary{
    width: auto;
}
.about_container{
    width: 80%;
}
.contact_container{
    width: 100%;
    max-width: 600px;
}
@media (min-width:768px) {
    .contact_container{
        width: 60%;
        max-width: 600px;
    }
}
footer.row{
    background-color: lightgray;
}

.row._top{
    background-color: #3a546d;
}
footer .row._bottom{
    background-color: #2c3e50;
}
.menu_m{
    display: none;
}
ul.menu_m li{
    display: inline-block;
    
}
@media (min-width:768px) {
    .menu_s{
        display: none;
    }
    .menu_m{
        display: block;
    }
    ._portfolio{
        width: 90%;
        margin: 0 auto;
    }
}

/* DEBUG */

.debug nav.row{
    /* border: 1px solid;    */
    height: 70px;
}

.debug .row.jumbo .col{
    /* height: 500px; */
}
